	{% extends 'web/base.html' %}
{% load i18n %}
{% block opengraph %}
	{% if LANGUAGE_CODE == 'eu' %}
		<meta property="og:title" content="Aloña Mendi Atletismo taldea eta Atletas de argixao"/>
	{% else %}
		<meta property="og:title" content="Aloña Mendi Atletismo y Atletas de argixao"/>
	{% endif %}
		<meta property="og:url" content="aloinargixao.com"/>
		<meta property="og:image" content="{{STATIC_URL}}img/eskudo_aloina.png"/>
		<meta property="og:site_name" content="Aloña Mendi Atletismo & Atletas de Argixao"/>
{% endblock %}

{% block switchlang %}
  <form action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
    <select name="language"  onchange="this.form.submit()" class="idiomas">
      <option value="es" {% if "es" == LANGUAGE_CODE %} selected="selected"{% endif %}>Español</option>
      <option value="eu"  {% if "eu" == LANGUAGE_CODE %} selected="selected"{% endif %}>Euskara</option>
    </select>
  </form>
{% endblock %}

{% block content%}
<div class="container">
	<div class="row">
		<div class="col-md-16">

Tenemos dos clubes entrelazados, en la que Atletas de Argixao da cabida al atletismo popular y Aloña Mendi al atletismo federado. En realidad parece solo uno y sigue creciendo, con dos secciones escolares que poco a poco están asegurando la continuidad de los que seguro dejaran algún día. Contamos esta temporada 2014/2015 con 43 fichas federadas, y alrededor de 40 escolares.

<br />
<center>
    <img src="{{STATIC_URL}}img/ekipo.jpg" />
    <p>Septiembre 2013</p>
</center>



<h3>Aloña Mendi</h3>

Cerca del año 1986, empieza su andadura la sección de atletismo del Aloña Mendi de la mano de Javi Gomez, con la idea de potenciar un club del que por aquel entonces, estaba a cargo en Legazpi. Se empezó con escolares, y pronto se unieron algunos federados, destacando a Jaime Sanchez(800), Peio Gil (400), Mikel Irizar (vallas) o Ritxar Fernandez (velocidad) entre otros, llegandose a juntar cerca de 40 atletas.

<br /><br />

Sobre el año 1995, la sección de atletismo pasó a estar en manos de los padres de algunos escolares, haciéndose cargo de los entrenamientos Juan Carlos Ugarte. Después de unos tres o cuatro años, sigue habiendo una directiva del club, pero solo para organizar la carrera de Torreauzo, sin ningún atleta.

<br /><br />

En el año 2001, mientras Javi Gomez entrenaba a atletas de Zumarraga y Legazpia, empieza también a entrenar a unos pocos atletas de Oñati, entre los que se encuentra Sergio García. Viendo que volvía a bajar a Oñati, Javi vuelve a ponerse a cargo de la sección de atletismo del Aloña Mendi, hasta el día de hoy.

<br /><br />

En la actualidad, la directiva está formada por Juan Carlos Ugarte, Jose Luis García, y el propio Javi Gomez.


<h3>Atletas de Argixao</h3>

En el año 2003 y viendo que el atletismo popular estaba en auge, y sin ambargo el federado estaba venido a menos en todo Gipuzkoa, se decide fundar un club popular en la zona de Zumarraga. En éste club tendrían cabida los atletas populares, para que de paso también se pudiese reforzar el Aloña Mendi federado.

<br /><br />

En septiembre del 2013 se hace la presentación oficial con la directiva formada por Raul Montiel, Mikel Fernandez, Santi Gomez, Tasio Gomez, Juantxo Perez, Txemi Lara y Javi Gomez.

		</div>
	</div>
</div>
<script src="{{STATIC_URL}}js/jquery-1.10.2.js"></script>
<script>
var body = $("html, body");
$(".scroll_top").on('click',function(){
	body.animate({scrollTop:0}, '1000', 'swing');
});

$(window).scroll(function(){
    var $scrollTop = $(window).scrollTop();
    if($scrollTop > 135){
        $(".navbar-nav>li>a").css({"padding":"0px 15px"});
        $(".navbar").css({"box-shadow":"0 5px 10px 0"});
        $(".navbar").addClass("navbar-fixed-top");
        $(".scroll_top").css({"opacity":"1"});
    }else{
    	$(".navbar-nav>li>a").css({"padding":"10px 15px"});
        $(".navbar").css({"box-shadow":"0 1px 5px 0"});
        $(".navbar").removeClass("navbar-fixed-top");
        $(".scroll_top").css({"opacity":"0"});
    }
});

setTimeout(function(){
	$(".social").css({"margin-left":"0"});
	$(".share").css({"margin-left":"0"});
},1000);
</script>


<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/eu_ES/sdk.js#xfbml=1&appId=250198748439697&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% endblock %}