	{% extends 'web/base.html' %}
{% load i18n %}
{% block opengraph %}
	{% if LANGUAGE_CODE == 'eu' %}
		<meta property="og:title" content="Aloña Mendi Atletismo taldea eta Atletas de argixao"/>
	{% else %}
		<meta property="og:title" content="Aloña Mendi Atletismo y Atletas de argixao"/>
	{% endif %}
		<meta property="og:url" content="aloinargixao.com"/>
		<meta property="og:image" content="{{STATIC_URL}}img/eskudo_aloina.png"/>
		<meta property="og:site_name" content="Aloña Mendi Atletismo & Atletas de Argixao"/>
{% endblock %}

{% block switchlang %}
  <form action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
    <select name="language"  onchange="this.form.submit()" class="idiomas">
      <option value="es" {% if "es" == LANGUAGE_CODE %} selected="selected"{% endif %}>Español</option>
      <option value="eu"  {% if "eu" == LANGUAGE_CODE %} selected="selected"{% endif %}>Euskara</option>
    </select>
  </form>
{% endblock %}

{% block content%}
<div class="container">
	<div class="row">
		<div class="col-md-16">

{% if LANGUAGE_CODE == 'es' %}
En la zona de Oñati y Zumarraga, en la actualidad tenemos dos clubes entrelazados, en la que Atletas de Argixao da cabida al atletismo popular y Aloña Mendi al atletismo federado. En realidad parece solo uno y sigue creciendo, con dos secciones escolares que poco a poco están asegurando la continuidad de los que seguro dejaran algún día. Esta temporada 2014/2015 contamos con 43 fichas federadas, y alrededor de 40 escolares.

{% else %}
Gaur egun, Oñati eta Zumarraga inguruko korrikalariz osatutako bi talde ditugu. Atletas de Argixaok atletismo herrikoiari eta Aloña Mendik atletismo federatuari ematen dio erantzuna. Talde bakarra dela ematen du, eta urtetik urtera handitzen doa, etorkizunean jarraitasuna emango dioten eskolarteko bi sailekin. 2014/2015 denboraldirako 43 fitxa federatu eta 40 bat eskolarteko ditugu gure artean.
{% endif %}
<br />
<center>
    <img src="{{STATIC_URL}}img/ekipo.jpg" />
    {% if LANGUAGE_CODE == 'es' %}
    	<p>Septiembre del 2013</p>
    {% else %}
    	<p>2013-ko Iraila</p>
    {% endif %}
</center>


{% if LANGUAGE_CODE == 'es' %}
<h3>Aloña Mendi</h3>

Cerca del año 1986, empieza su andadura la sección de atletismo del Aloña Mendi de la mano de Javi Gomez, creada con la idea de potenciar el club de atletismo de Legazpia <i>Legazpiko Atletismo Taldea</i>. Se empezó con escolares, y pronto se unieron algunos federados, destacando en esta primera etapa a Jaime Sanchez (800), Peio Gil (400), Mikel Irizar (vallas) entre otros, llegandose a juntar cerca de 40 atletas.

<br /><br />

Sobre el año 1995, la sección de atletismo cambió de manos, pasando a coger las riendas del club los padres de algunos atletas, haciéndose cargo de los entrenamientos Juan Carlos Ugarte. Esta andadura no duro muchos años (3-4), después de esto se estuvo unos años casi sin atletas, y con una directiva que con toda su buena voluntad intentaba que no se olvidase el atletismo en la zona.

<br /><br />

En el año 2001, se vuelve a contactar con Javi Gómez para coger el atletismo de Oñate, siendo los primeros atletas de esta segunda etapa Sergio Garcia, Ainoa Ugarte y Yeray Varela. De esta forma dando contenido al club poco a poco con la ayuda de Juan Carlos Ugarte y Jose Luis Garcia (actuales presidente y tesorero del club).


<h3>Atletas de Argixao</h3>

En el año 2003 y viendo que el atletismo popular estaba en auge, y sin embargo el federado estaba venido a menos en todo Gipuzkoa, se decide fundar un club popular en la zona de Zumarraga. En éste club tendrían cabida los atletas populares, que en un futuro podrían reforzar la sección federada del Aloña Mendi.

<br /><br />

En septiembre del 2003 se hace la presentación oficial del club, pero es en 2013 cuando el club pasa a llamarse <b>Club Atletas de Argixao</b>, siendo a partir de esta fecha cuando el club toma una seriedad que le asegura su continuidad. El presidente del mismo es Txemi Lara, y directivos Xabi Zumarraga, Carlos Montero, Iñaki Taboada, Miguel Plaza, Txema Rueda, Javi Fragua y Javi Gómez entre otros.

{% else %}

<h3>Aloña Mendi</h3>

1986. urte aldera, Javi Gomezen bitartez Aloña Mendi atletismo sailaren ibilbidea hasten da, garai hartako <i>Legazkpiko Atletismo Taldea</i> sendotzeko helburuarekin. Eskolartekoekin hasi, eta laister federatuak elkartu zitzaien, hala nola, Jaime Sanchez (800), Peio Gil (400), Mikel Irizar (hesiak) besteak beste. Horrela, gutxinaka 40 korrikalari batzeraino.

<br /><br/>

1995. urte aldera, atletismo saila, taldeko korrikalari batzuen gurasoen esku egotera igaro zen, Juan Carlos Ugartek entrenatzaile kargua hartu zuelarik. 3-4 urteren ostean, korrikalari gutxi batzurekin eta inguruko atletismoa alde batera uzterik nahi ez zuen zuzendaritza batzorde batekin gelditu zen taldea.

<br/><br/>

2001. urtean, Javi Gomezekin harremana berreskuratzen da, Oñatiko atletismo taldea bere gain hartzeko. Javiren bigarren ibilbide honetako lehenengo korrikalariak Sergio Garcia, Ainoa Ugarte eta Yeray Varela izan ziren. Modu honetara, Juan Carlos Ugarte eta Jose Luis Garciaren laguntzarekin (egungo taldeko presidente eta diruzaina) taldeari itxura ematen hasi zitzaion.

<br /><br />
<h3>Atletas de Argixao</h3>

2003. urtean atletismo herrikoia bere onenean zegoela eta gipuzkoako atletismo federatua berriz gutxiagotzen zebilela kontutan hartuta, Zumarraga inguruan talde popular bat sortzea erabakitzen da. Talde hau korrikalari herrikoiez osatuta dago, Aloña Mendiko atletismo federatuari indarra emateko aukera gehiago eskeiniz.

<br/> <br/>

2003ko irailean, taldeko aurkezpen ofiziala burutzen da, eta 2013an taleak <b>Club Atletas de Argixao</b> izena hartzen du. Data honetatik aurrera bere jarraitasuna bermatuko duen seriotasun eta konpromiso bat hartzen ditu bere gain. Taldeko presidente bezela Txemi Lara dago, eta zuzendaritzan Xabi Zumarraga, Carlos Montero, Iñaki Taboada, Miguel Plaza, Txema Rueda, Javi Fragua eta Javi Gómez besteak beste.



{% endif %}

		</div>
	</div>
</div>
<script src="{{STATIC_URL}}js/jquery-1.10.2.js"></script>
<script>
var body = $("html, body");
$(".scroll_top").on('click',function(){
	body.animate({scrollTop:0}, '1000', 'swing');
});

$(window).scroll(function(){
    var $scrollTop = $(window).scrollTop();
    if($scrollTop > 135){
        $(".navbar-nav>li>a").css({"padding":"0px 15px"});
        $(".navbar").css({"box-shadow":"0 5px 10px 0"});
        $(".navbar").addClass("navbar-fixed-top");
        $(".scroll_top").css({"opacity":"1"});
    }else{
    	$(".navbar-nav>li>a").css({"padding":"10px 15px"});
        $(".navbar").css({"box-shadow":"0 1px 5px 0"});
        $(".navbar").removeClass("navbar-fixed-top");
        $(".scroll_top").css({"opacity":"0"});
    }
});

setTimeout(function(){
	$(".social").css({"margin-left":"0"});
	$(".share").css({"margin-left":"0"});
},1000);
</script>


<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/eu_ES/sdk.js#xfbml=1&appId=250198748439697&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% endblock %}