	{% extends 'web/base.html' %}
{% load i18n %}
{% block opengraph %}
	{% if LANGUAGE_CODE == 'eu' %}
		<meta property="og:title" content="Aloña Mendi Atletismo taldea eta Atletas de argixao"/>
	{% else %}
		<meta property="og:title" content="Aloña Mendi Atletismo y Atletas de argixao"/>
	{% endif %}
		<meta property="og:url" content="aloinargixao.com"/>
		<meta property="og:image" content="{{STATIC_URL}}img/eskudo_aloina.png"/>
		<meta property="og:site_name" content="Aloña Mendi Atletismo & Atletas de Argixao"/>
{% endblock %}

{% block switchlang %}
  <form action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
    <select name="language"  onchange="this.form.submit()" class="idiomas">
      <option value="es" {% if "es" == LANGUAGE_CODE %} selected="selected"{% endif %}>Español</option>
      <option value="eu"  {% if "eu" == LANGUAGE_CODE %} selected="selected"{% endif %}>Euskara</option>
    </select>
  </form>
{% endblock %}

{% block content%}
<div class="container">
	<div class="row">
		<div class="col-md-16 about_us">
    
      <h2>{% trans "archivo" %}</h2>


        {% regroup posts by created|date:"Y" as year_list %}
          <ul>
          {% for year in year_list %}
            <h3>{{ year.grouper }}</h3>
            {% regroup year.list by created|date:"F" as month_list %}
            <ul>

            {% for month in month_list %}  
              
              <h4>{{ month.grouper }}</h4>
              <ul>
              {% for item in month.list %}
                <li>{{item.created|date:"d"}} - <a href="#">{{ item.title_es }}</a> ({{item.author.get_short_name}})</li>
              {% endfor %}
              </ul>
              
            {% endfor %}
            </ul>
          {% endfor %}
          </ul>







		</div>
	</div>
</div>
<script src="{{STATIC_URL}}js/jquery-1.10.2.js"></script>
<script>
var body = $("html, body");
$(".scroll_top").on('click',function(){
	body.animate({scrollTop:0}, '1000', 'swing');
});

$(window).scroll(function(){
    var $scrollTop = $(window).scrollTop();
    if($scrollTop > 135){
        $(".navbar-nav>li>a").css({"padding":"0px 15px"});
        $(".navbar").css({"box-shadow":"0 5px 10px 0"});
        $(".navbar").addClass("navbar-fixed-top");
        $(".scroll_top").css({"opacity":"1"});
    }else{
    	$(".navbar-nav>li>a").css({"padding":"10px 15px"});
        $(".navbar").css({"box-shadow":"0 1px 5px 0"});
        $(".navbar").removeClass("navbar-fixed-top");
        $(".scroll_top").css({"opacity":"0"});
    }
});

setTimeout(function(){
	$(".social").css({"margin-left":"0"});
	$(".share").css({"margin-left":"0"});
},1000);
</script>


<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/eu_ES/sdk.js#xfbml=1&appId=250198748439697&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% endblock %}