	{% extends 'web/base.html' %}
{% load i18n %}
{% block opengraph %}
	{% if LANGUAGE_CODE == 'eu' %}
		<meta property="og:title" content="Aloña Mendi Atletismo taldea eta Atletas de argixao"/>
	{% else %}
		<meta property="og:title" content="Aloña Mendi Atletismo y Atletas de argixao"/>
	{% endif %}
		<meta property="og:url" content="aloinargixao.com"/>
		<meta property="og:image" content="{{STATIC_URL}}img/eskudo_aloina.png"/>
		<meta property="og:site_name" content="Aloña Mendi Atletismo & Atletas de Argixao"/>
{% endblock %}

{% block switchlang %}
	<form action="{% url 'set_language' %}" method="post">
		{% csrf_token %}
		<input name="next" type="hidden" value="{{ redirect_to }}" />
		<select name="language"  onchange="this.form.submit()" class="idiomas">
			<option value="es" {% if "es" == LANGUAGE_CODE %} selected="selected"{% endif %}>Español</option>
			<option value="eu"  {% if "eu" == LANGUAGE_CODE %} selected="selected"{% endif %}>Euskara</option>
		</select>
	</form>
{% endblock %}

{% block content%}
<div class="container">
	<span class="share hidden-xs hidden-sm"><i class="fa fa-share-alt"></i></span>
	<a class="social fb hidden-xs hidden-sm" target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=aloinargixao.com"><i class="fa fa-facebook"></i></a>
	<a class="social twtt hidden-xs hidden-sm" href="https://twitter.com/home?status=aloinargixao.com" target="_blank"><i class="fa fa-twitter"></i></a>
	<a class="scroll_top visible-lg visible-md" href="#"><i class="fa fa-angle-up"></i></a>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			{% for post in posts %}
				<div class="post">
					<!-- POST  IZENBURUA -->
					{% if LANGUAGE_CODE == 'es' %}
						{% if post.title_es != '' %}
							<h2><a href="{% url 'post' post.id post.slug_es %}">{{post.title_es}}</a></h2>
						{% else %}
							<h2><a href="{% url 'post' post.id post.slug_eu %}">{{post.title_eu}}</a></h2>
						{% endif %}
					{% else %}
						{% if post.title_eu != '' %}
							<h2><a href="{% url 'post' post.id post.slug_eu %}">{{post.title_eu}}</a></h2>
						{% else %}
							<h2><a href="{% url 'post' post.id post.slug_es %}">{{post.title_es}}</a></h2>
						{% endif %}
					{% endif %}
					<!-- END   POST  IZENBURUA -->

					<span class="author"><a href="#">{{post.author.get_short_name}}</a></span>
					<span class="date">{{post.created |date:"D d M Y" }}</span>
					<span class="comments"><a href="#"><i class="fa fa-comments-o"></i> 1 {% trans "comentario" %}</a></span>


					<div class="contenido">
							<!-- POST  IZENBURUA -->
							{% if LANGUAGE_CODE == 'es' %}
								{% if post.body_es != '' %}
									{{post.body_es|safe}}
								{% else %}
									{{post.body_eu|safe}}
								{% endif %}
							{% else %}
								{% if post.body_eu != '' %}
									{{post.body_eu|safe}}
								{% else %}
									{{post.body_es|safe}}
								{% endif %}
							{% endif %}
							<!-- END   POST  IZENBURUA -->
					</div>
					<center>
					{% if LANGUAGE_CODE == 'es' %}

					<a class="btn btn-default social-sh gp" href="https://plus.google.com/share?url=aloinargixao.com{% url 'post' post.id post.slug_es %}"><i class="fa fa-google-plus"></i></a>
					<a class="btn btn-default social-sh fb" href="http://www.facebook.com/sharer/sharer.php?u=aloinargixao.com{% url 'post' post.id post.slug_es %}"><i class="fa fa-facebook"></i></a>
					<a class="btn btn-default social-sh twt" href="https://twitter.com/home?status=aloinargixao.com{% url 'post' post.id post.slug_es %}"><i class="fa fa-twitter"></i></a>
					<a class="btn btn-default social-sh ln" href="https://www.linkedin.com/shareArticle?mini=true&url=aloinargixao.com{% url 'post' post.id post.slug_es %}"><i class="fa fa-linkedin"></i></a>

					{% else %}
					<a class="btn btn-default social-sh gp" href="https://plus.google.com/share?url=aloinargixao.com{% url 'post' post.id post.slug_eu %}"><i class="fa fa-google-plus"></i></a>
					<a class="btn btn-default social-sh fb" href="http://www.facebook.com/sharer/sharer.php?u=aloinargixao.com{% url 'post' post.id post.slug_eu %}"><i class="fa fa-facebook"></i></a>
					<a class="btn btn-default social-sh twt" href="https://twitter.com/home?status=aloinargixao.com{% url 'post' post.id post.slug_eu %}"><i class="fa fa-twitter"></i></a>
					<a class="btn btn-default social-sh ln" href="https://www.linkedin.com/shareArticle?mini=true&url=aloinargixao.com{% url 'post' post.id post.slug_eu %}"><i class="fa fa-linkedin"></i></a>

					{% endif %}
				
				</center>
				</div>

			{% endfor %}

			<center>
				<ul class="pagination pagination-lg btn-pag">
					{% if page_obj.has_next %}
						<li>
							<a href="?page={{ page_obj.next_page_number }}">{% trans "anteriores" %}</a>
						</li>
					{% else %}
						<li class="disabled">
							<a href="#">{% trans "anteriores" %}</a>
						</li>
					{% endif %}
					{% if page_obj.has_previous %}
						<li>
							<a href="?page={{ page_obj.previous_page_number }}">{% trans "mas recientes" %}</a>
						</li>
					{% else %}
						<li class="disabled">
							<a href="#">{% trans "mas recientes" %}</a>
						</li>
					{% endif %}
						
				</ul>
			</center>
		</div>
		<div class="col-md-4 col-md-offset-1 hidden-xs">

			<div class="proximas_competiciones">
				<strong>Azken Emaitzak</strong>
				<br />
				<i>Próximamente</i>
				<br /><br /><br />
				<!--
				<ul class="result_tit">
					<li><h4><a href="#">Behobia Donostia 2014</a></h4></li>
						<ul class="resul">
							<li>523º<b><a href="#">Txema</a></b> 1h 20min 30seg</li>
							<li>523º<b><a href="#">Xabier</a></b> 1h 20min 30seg</li>
							<li>523º<b><a href="#">Javi</a></b> 1h 20min 30seg</li>
							<li>1523º<b><a href="#">Vicente</a></b> 1h 20min 30seg</li>
							<li>2523º<b><a href="#">Txema</a></b> 1h 20min 30seg</li>
							<li>4523º<b><a href="#">Txema</a></b> 1h 20min 30seg</li>
							<li>5523º<b><a href="#">Vicente</a></b> 1h 20min 30seg</li>
							<li>6523º<b><a href="#">Txema</a></b> 1h 20min 30seg</li>
							<li>7523º<b><a href="#">Txema</a></b> 1h 20min 30seg</li>
						</ul>
					<li><h4><a href="#">Lasarte Oria Bai 2014</a></h4></li>
						<ul class="resul">
							<li><b>Txema</b> 40min 30seg</li>
							<li><b>Xabier</b> 50min 30seg</li>
							<li><b>Javi</b> 40min 30seg</li>
							<li><b>Vicente</b> 40min 30seg</li>
							<li><b>Txema</b> 40min 30seg</li>
							<li><b>Txema</b> 40min 30seg</li>
						</ul>
					<li>xx</li>
					<li>xx</li>
				</ul>
				-->
			</div>

			<div class="proximas_competiciones">
				<strong>Datozen Frogak</strong>
				<br />
				<i>Próximamente</i>
				<br /><br /><br />
				<!--
				<ul>
					<li>xx</li>
					<li>xx</li>
					<li>xx</li>
					<li>xx</li>
				</ul>
				-->
			</div>

			<div class="fb-like-box" data-href="https://www.facebook.com/AtletasArgixao" data-colorscheme="light" data-show-faces="false" data-header="true" data-stream="false" data-show-border="true"></div>


		</div>
	</div>
</div>
{% endblock %}