{% extends 'web/base.html' %}
{% load i18n %}

{% block content%}
<div class="container">
	<a class="social hidden-xs" href="#"><i class="fa fa-rss"></i></a>
	<a class="scroll_top" href="#"><i class="fa fa-angle-up"></i></a>
	<div class="row">
		<div class="col-md-9 col-md-offset-2">
			{% for post in posts %}
				<div class="post">
					<h2><a href="#">{{post.title_es}}</a></h2>
					<span class="author"><a href="#">{{post.author.get_short_name}}</a></span>
					<span class="date">{{post.created}}</span>
					<span class="comments"><a href="#">1 {% trans "comentario" %} <i class="fa fa-comments-o"></i></a></span>
					<div class="contenido">
							{{post.body_es|safe}}
					</div>
				</div>

			{% endfor %}

			<center>
				<ul class="pagination pagination-lg btn-pag">
					{% if page_obj.has_next %}
						<li>
							<a href="#">{% trans "anteriores" %}</a>
						</li>
					{% else %}
						<li class="disabled">
							<a href="#">{% trans "anteriores" %}</a>
						</li>
					{% endif %}
					{% if page_obj.has_previous %}
						<li>
							<a href="#">{% trans "mas recientes" %}</a>
						</li>
					{% else %}
						<li class="disabled">
							<a href="#">{% trans "mas recientes" %}</a>
						</li>
					{% endif %}
						
				</ul>
			</center>
		</div>
		<div class="col-md-4 col-md-offset-1 hidden-xs">

			<div class="proximas_competiciones">
				<strong>Azken Emaitzak</strong>
				<ul class="result_tit">
					<li><h4><a href="#">Behobia Donostia 2014</a></h4></li>
						<ul class="resul">
							<li>523º<b>Txema</b> 1h 20min 30seg</li>
							<li>523º<b>Xabier</b> 1h 20min 30seg</li>
							<li>523º<b>Javi</b> 1h 20min 30seg</li>
							<li>1523º<b>Vicente</b> 1h 20min 30seg</li>
							<li>2523º<b>Txema</b> 1h 20min 30seg</li>
							<li>4523º<b>Txema</b> 1h 20min 30seg</li>
							<li>5523º<b>Vicente</b> 1h 20min 30seg</li>
							<li>6523º<b>Txema</b> 1h 20min 30seg</li>
							<li>7523º<b>Txema</b> 1h 20min 30seg</li>
						</ul>
					<li><h4><a href="#">Lasarte Oria Bai 2014</a></h4></li>
						<ul class="resul">
							<li><b>Txema</b> 40min 30seg</li>
							<li><b>Xabier</b> 50min 30seg</li>
							<li><b>Javi</b> 40min 30seg</li>
							<li><b>Vicente</b> 40min 30seg</li>
							<li><b>Txema</b> 40min 30seg</li>
							<li><b>Txema</b> 40min 30seg</li>
						</ul>
					<li>xx</li>
					<li>xx</li>
				</ul>
			</div>

			<div class="proximas_competiciones">
				<strong>Datozen Frogak</strong>
				<ul>
					<li>xx</li>
					<li>xx</li>
					<li>xx</li>
					<li>xx</li>
				</ul>
			</div>

			<div class="fb-like-box" data-href="https://www.facebook.com/AtletasArgixao" data-colorscheme="light" data-show-faces="false" data-header="true" data-stream="false" data-show-border="true"></div>


		</div>
	</div>
</div>
<script src="{{STATIC_URL}}js/jquery-1.10.2.js"></script>
<script>
var body = $("html, body");
$(".scroll_top").on('click',function(){
	body.animate({scrollTop:0}, '1000', 'swing');
});

$(window).scroll(function(){
    var $scrollTop = $(window).scrollTop();
    if($scrollTop > 40){
        $(".navbar-nav>li>a").css({"padding-top":"0px"});
        $(".navbar-nav>li>a").css({"padding-bottom":"0px"});
        $(".navbar").css({"box-shadow":"0 5px 10px 0"});
        $(".scroll_top").addClass("visible-lg");
        $(".scroll_top").addClass("visible-md");
    }else{
    	$(".navbar-nav>li>a").css({"padding-top":"10px"});
        $(".navbar-nav>li>a").css({"padding-bottom":"10px"});
        $(".navbar").css({"box-shadow":"0 1px 5px 0"});
        $(".scroll_top").removeClass("visible-lg");
        $(".scroll_top").removeClass("visible-md");
    }
});
</script>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/eu_ES/sdk.js#xfbml=1&appId=250198748439697&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% endblock %}