{% load i18n %}
<div class="proximas_competiciones">
	<strong>{% trans "azken emaitzak" %}</strong>
	<ul class="result_tit">
	{% regroup results by edition as edition_list %}
	{% for edition in edition_list %}
		<li><h4><a href="#">{{ edition.grouper }}</a></h4></li>
		<ul class="resul">
			{% for result in edition.list %}
				<li>
				{% if result.position %}{{result.position}}º{% endif %}<b><a href="#">{{result.user.get_short_name}}</a></b>{% if result.position_cat and result.position_cat < 4 %}(cat{{result.position_cat}}º){% endif %} {% if result.distancemark != 0 %}{{ result.distancemark }}{% else %}{{ result.timemark }}</li>
			{% endfor %}
		</ul>
	{% endfor %}
	</ul>
	<br /><br /><br />
</div>