Django==1.7
Pillow==2.4.0
South==0.8.4
beautifulsoup4==4.3.2
coverage==3.6
django-annoying==0.7.9
django-braces==1.4.0
django-ckeditor-updated==4.4.0
django-debug-toolbar==1.2.1
django-durationfield==0.5.1
django-rosetta==0.7.4
django-xmlrpc==0.1.5
flickr-api==0.5
oauth==1.0.1
polib==1.0.4
psycopg2==2.5.3
pyparsing==2.0.2
python-dateutil==2.2
python-memcached==1.53
pytz==2014.4
requests==2.3.0
six==1.7.2
solid-i18n==0.4.3
sqlparse==0.1.11
vobject==0.8.1c
