Django==1.7
Pillow==2.4.0
beautifulsoup4==4.3.2
django-braces==1.4.0
django-ckeditor-updated==4.4.0
django-debug-toolbar==1.2.1
django-durationfield==0.5.1
django-rosetta==0.7.4
django-xmlrpc==0.1.5
polib==1.0.4
psycopg2==2.5.3
pyparsing==2.0.2
pytz==2014.4
requests==2.3.0
six==1.7.2
sqlparse==0.1.11
