{% extends 'races/base.html' %}

{% block content %}
    <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                	<ol class="breadcrumb">
                      <li><a href="{% url 'racelist' %}">Competiciones</a></li>
                      <li class="active">{{race}}</li>
                    </ol>
                    {% if subraces %}
                        <h1 class="page-header">Pruebas</h1>
                    {% else %}
                        <h1 class="page-header">Ediciones</h1>
                    {% endif %}
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <span class="add_btn"><a class="btn btn-default" href="{% url 'newsubrace' race.id %}"><i class="fa fa-plus-circle"></i> Prueba</a></span> 

                    {% if not subraces %}
                    <span class="add_btn"><a class="btn btn-default" href="{% url 'newedition' race.id %}"><i class="fa fa-plus-circle"></i> Edición</a></span>
                    <div class="clear-both"></div>
                    {% endif %}

                    {% if subraces %}
                        <ul class="subrace_list">
                        {% for subr in subraces %}
                            <li><a href="#">{{subr}}</a></li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <ul class="edition_list">
                        {% for edition in editions %}
                            <li><a href="{%url 'editiondetail' edition.id %}">{{edition}}</a></li>
                        {% empty %}
                                No hay ninguna edición ni prueba registrada para ésta competición  todavía
                        {% endfor %}
                        </ul>
                    {% endif %}
                    <hr />


                    <h3>Los mejores resultados de ésta competición</h3>

                    <ul class="edition_result_list">
						{% for result in results %}
							<li>{{result.position}}º - {{result.user.first_name}} {{result.user.last_name}} {{result.timemark}} ({{result.edition.date | date:"o"}})</li>
						{% endfor %}
                    </ul>
                </div>
            </div>
    </div>
{% endblock %}