{% extends 'races/base.html' %}

{% block content %}
		<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                	<ol class="breadcrumb">
                      <li><a href="{% url 'racelist' %}">Competiciones</a></li>
                      <li><a href="{% url 'editionlist' race.id %}">{{race}}</a></li>
                      <li class="active">Nueva Edición</li>
                    </ol>
					<h1 class="page-header">Nueva edición de: {{race}}</h1>
					<div class="row">
						<div class="col-lg-4">
							<form id='formulario' method='post'>
								{% csrf_token %}
								<p>Nombre: {{form.name}}</p>
								<p>Tipo: {{racetypeform.type}}</p>
								<p>Modalidad: {{form.modality}}</p>
								<p>Fecha y Hora: {{form.date}}</p>
								<p>Distancia: {{form.distance}}</p>
								
								<p>
									<a href="{% url 'editionlist' race.id %}"><span class="btn btn-danger">Cancelar</span></a>
									<input type='submit' class="btn btn-success" value="Crear" />
								</p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}

{% block javascript %}
<script src="{{STATIC_URL}}js/new_edition.js"></script>
{% endblock %}
