{% extends 'races/base.html' %}

{% block content %}
		<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
					<h1 class="page-header">Nueva edición de: {{race}}</h1>
					<div class="row">
						<div class="col-lg-6">
							<form id='formulario' method='post'>
								{% csrf_token %}
								{{racetypeform.as_p}}
								{{form.as_p}}
								<p>
									<a href="{% url 'racelist' %}"><span class="btn btn-danger">Cancelar</span></a>
									<input type='submit' class="btn btn-success" value="Crear" />
								</p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}

{% block javascript %}
<script src="{{STATIC_URL}}js/new_edition.js"></script>
{% endblock %}
