{% extends 'races/base.html' %}

{% block content %}
    <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                	<ol class="breadcrumb">
                      <li>Objetivos</li>
                    </ol>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <ul>
                        {% for objective in objectives %}
                            <li><a href="#">x</a> | <a href="#">E</a> <a href="#">{{ objective.edition }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
    </div>
{% endblock %}