.header{ text-align:center; background-color:lightblue;
	margin-top:20px;
		 padding-top: 30px;
		 background-color:red ;
		 background-image: linear-gradient(to bottom, red 0%, #C34A2C 100%);
		 background-repeat: repeat-x;
		position: relative;}

.aloina_eskudua{ position: absolute;
				top:0;
				background-position:right;
				width:90%; height:100%; 
				background-image: url('/static/img/eskudo_aloina.png');
				background-repeat:no-repeat;
				opacity:0.5;}


a{ color:darkred;}
li{list-style:none;}
h1{ color:white;font-family: 'EB Garamond', serif; font-size:32px; margin:0; }
h1 img{ width:60px; }
h2{ margin:0; font-size:45px;}
h2 a{ color:black; }
.author{ color:grey; }
.date{ color:grey; }
.comments{ float:right;}
.pagination-lg>li:first-child>a{color:darkred;}
.container{ margin-top:40px; }

.proximas_competiciones{ margin-top:20px;}
.proximas_competiciones strong{ background-color: #79BAEC; color:white; padding:10px;
								display:block; text-align: center }

.resul li {font-family:Cousine; font-size:0.8em;}


img{ max-width: 100%;margin-top:10px; margin-bottom:10px; }

.contenido{ text-align: justify; font-size: 1.4em; margin-top: 5px; }
.post{ margin-bottom:100px;}

.hizkuntzak{ margin-top:5px; background-color:#505050; color: #79BAEC;}

.navbar{ border-radius:0; box-shadow: 0 1px 5px 0;}
.navbar .container-fluid{ padding:0; }

.navbar-default{ background-color:#79BAEC; border:0; }

.navbar-right{ padding-right: 20px;}

.navbar-default .navbar-nav>.active>a{ background-color: lightblue; color:black; }
.navbar-default .navbar-nav>li>a { color:darkred; font-family: 'Hammersmith One', sans-serif; }

.navbar-nav > li > a {padding-top:10px; padding-bottom:10px;
					  transition: padding 0.5s ease;
					  -moz-transition: padding 0.5s ease;
					  -o-transition: padding 0.5s ease;
					  -webkit-transition: padding 0.5s ease; }
.navbar {min-height:20px !important}

.btn-pag li>a{ padding:25px 90px; }
.btn-pag li a:focus,.btn-pag li a:hover{ background-color: #C34A2C; color:white; }



@-webkit-keyframes blink {
    0% {
        opacity:0.5;
    }
    25% {
        opacity:0;
    }
    50%{
    	opacity:0.5;
    }
    75%{
    	opacity:1;
    }
    100% {
        opacity:0.5;
    }
}
@-moz-keyframes blink {
    0% {
        opacity:0.5;
    }
    25% {
        opacity:0;
    }
    50%{
    	opacity:0.5;
    }
    75%{
    	opacity:1;
    }
    100% {
        opacity:0.5;
    }
}

.aloina_eskudua{
	-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: ease-in-out;
    
	-moz-animation-direction: normal;
    -moz-animation-duration: 20s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: blink;
    -moz-animation-timing-function: ease-in-out; 
}