.nav a{ color: black;}

.nav a:hover{ color: grey; }

.breadcrumb{ margin-top: 10px; }

.edition_list,.subrace_list{ list-style: none; }

.edition_result_list{ list-style: none; font-family:Cousine; }

.race_list{ list-style: none; }

.add_btn{ float:right; }

.tab-pane{ padding:20px; }

.clear-both{ clear: both;}

.form-control.duration{ max-width: 50px; display:inline; }

.ayuda{ font-size:0.8em; }

.posts a.btn{ padding: 3px 6px; }