{% extends 'races/base.html' %}

{% block content %}
<script src="{{STATIC_URL}}js/jquery-1.10.2.js"></script>

		<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                	<ol class="breadcrumb">
                      <li class="active">Blog</li>
                    </ol>
					<h1 class="page-header">Blog</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-10">
						<h2>Borradores:</h2>
						{% for borrador in borradores %}
							<a href="{% url 'updateblogpost' borrador.id %}" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i></a>
							<a href="{% url 'deleteblogpost' borrador.id %}" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
							<a href="{% url 'updateblogpost' borrador.id %}">{{borrador.title_es}}</a>
							{{borrador.created}}
							<br />
						{% endfor %}



						<h2>Publicados públicamente</h2>
							
						{% for publico in publicos %}
							<a href="{% url 'updateblogpost' publico.id %}" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i></a>
							<a href="{% url 'deleteblogpost' publico.id %}" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
							<a href="{% url 'updateblogpost' publico.id %}">{{publico.title_es}}</a>
							{{publico.created}}
							<br />
						{% endfor %}


						<h2>Publicados en privado</h2>
						{% for privado in privados %}
							<a href="{% url 'updateblogpost' privado.id %}" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i></a>
							<a href="{% url 'deleteblogpost' privado.id %}" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
							<a href="{% url 'updateblogpost' privado.id %}">{{privado.title_es}}</a>
							{{privado.created}}
							<br />
						{% endfor %}
				</div>
				<div class="col-lg-2">
					<a class="btn btn-primary" href="{% url 'newblogpost' %}">Nuevo Post</a>
				</div>
			</div>
		</div>
{% endblock %}

{% block javascript %}
	{{ form.media }}
{% endblock %}
