{% extends 'races/base.html' %}

{% block content %}
<script src="{{STATIC_URL}}js/jquery-1.10.2.js"></script>

		<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                	<ol class="breadcrumb">
                      <li class="active">Blog</li>
                    </ol>
					<h1 class="page-header">Blog</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-10">

					<Table class="table table-hover posts">
						<Tr>
							<Th></Th>
							<Th></Th>
							<Th>Titulo</Th>
							<Th>Fecha</Th>
							<Th>Estado</Th>
						</Tr>

						{% for post in posts %}
							<Tr>
								<Td>
									<a href="{% url 'updateblogpost' post.id %}" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i></a>
								</Td>

								<Td>
									<a href="{% url 'deleteblogpost' post.id %}" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
								</Td>
								<Td>
									<a href="{% url 'updateblogpost' post.id %}">{{post.title_es}}</a>
								</Td>

								<Td>{{post.created}}</Td>
								<Td>
									{% if post.status == '1' %}
										(Borrador)
									{% elif post.status == '2' %}
										<i class="fa fa-globe"></i> Publicado
									{% else %}
										<i class="fa fa-lock"></i> Privado
									{% endif %}
								
								</Td>
							</Tr>
							{% empty %}
								<p><i>Todavía no has escrito ninguna entrada en el blog</i></p>
						{% endfor %}
						</Table>

				</div>
				<div class="col-lg-2">
					<a class="btn btn-primary" href="{% url 'newblogpost' %}">Nuevo Post</a>
				</div>
			</div>
		</div>
{% endblock %}

{% block javascript %}
	{{ form.media }}
{% endblock %}
